* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

html,
body {
    overflow-x: hidden;
}

body {
    position: relative
}


body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;


}

.background-color {
    width: 100vw;
    background: rgb(63, 59, 215);
    background: linear-gradient(323deg, rgba(63, 59, 215, 1) 0%, rgba(0, 0, 0, 1) 24%, rgba(6, 5, 19, 1) 83%, rgba(66, 62, 224, 1) 100%);

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    height: 80px;
    position: fixed;
    width: 100vw;
}

.inner-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-header-text {
    padding: 10px 20px;
    color: white;

}

.first-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 50px;
    color: white;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-1 img {
    margin-top: 130px;
    width: 700px;
}

.flex-1 h1 {
    font-size: 60px;
    width: 500px;
    line-height: 65px;
}

.flex-1 p {
    font-size: 20px;
    width: 500px;
    margin-bottom: 30px;
}


.btn-class {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 29px;
    font-size: large;
    border: 5px solid #812DE2;
    background-color: #060513;
    color: white;
}

.btn-class:hover {
    background-color: #812DE2;
}

.icons-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 70px;
    padding-bottom: 50px;
}

/* //////////// Second Section ////////////// */

.second-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;

}

.second-section h1 {
    width: 70%;
    font-size: 70px;
    text-align: center;
    margin: auto;

}

.second-section p {
    font-size: 34px;
    width: 70%;
    text-align: center;
    margin: auto;
}

.second-section .image-pic {
    width: 70%;
    margin: auto;
    display: flex;
    /* background: red; */
    align-items: center;
    justify-content: center;
}

.image-pic img {
    padding-left: 70px;
    width: 100%;
}

/* //////////// Third Section ////////////// */

.third-section {
    padding: 50px;
    color: white;

}

.third-section h1 {
    width: 50%;
    font-size: 40px;
    text-align: center;
    margin: auto;
    color: white;

}

.third-section-sub {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side-third-section h2 {
    font-size: 40px;
}

.right-side-third-section p {
    width: 90%;
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
}

.third-phase-div {
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.div-box {
    text-align: center;
    width: 250px;
    height: 200px;
    background-color: #1C1A50;
    border: 5px solid #812DE2;
    border-radius: 30px;
    padding: 40px;
    margin-right: 20px;
}

.div-box:hover {
    background-color: rgba(6, 5, 19, 1);
}


.footer-main-section {
    padding: 80px 150px;
}

.footer-background-color {
    background-color: #121139;
}

.footer-top {
    display: flex;
}

.footer-top h1 {
    margin-left: 20px;
    color: #812DE2;
}


.footer-section {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.footer-section h4 {
    font-size: 26px;
    color: gray;
    margin-bottom: 10px;
}

.footer-section ul li {
    list-style: none;
    padding: 6px 0px;
    text-align: start;
    color: white;
}

.footer-para {
    color: white;
    width: 400px;
}

.border-bottom {
    margin-top: 200px;
    border-top: 1px solid gray;
}

.footer-bottom-para {
    margin-top: 30px;
    color: gray;
    text-align: center;
}




@media only screen and (min-width: 250px) and (max-width: 500px) {
    .first-section {
        flex-direction: column;
        padding-top: 100px;
        padding-left: 10px;

    }

    .background-color {
        height: max-content;
    }

    .flex-1 h1 {
        width: 300px;
        font-size: 60px;
        line-height: 90px;
    }

    .flex-1 p {
        font-size: 20px;
        width: 300px;
        margin-bottom: 30px;

    }

    .btn-class {
        padding: 15px 20px;
        font-size: 30px;
    }

    .flex-1 img {
        width: 420px;
        padding-left: 30px;
        margin-top: 40px;
    }

    .icons-div {
        display: flex;
        flex-direction: column;
    }

    .icons-div img {
        padding-top: 50px;
    }


    .second-section h1 {
        width: 100%;
        font-size: 60px;
        text-align: start;
        margin: auto;

    }

    .second-section p {
        font-size: 30px;
        width: 100%;
        text-align: start;
        margin: auto;
    }

    .second-section .image-pic {
        width: 100%;
    }

    .image-pic img {
        padding-left: 0px;
        width: 120%;
    }


    .third-section h1 {
        width: 100%;
        font-size: 50px;
        text-align: start;

    }

    .third-section-sub {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    .right-side-third-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .right-side-third-section h2 {
        font-size: 45px;
    }

    .right-side-third-section p {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
    }

    .third-phase-div {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .div-box {
        width: 180px;
        height: 170px;
        padding: 20px;
        margin-bottom: 30px;
    }

    .footer-main-section {
        padding: 40px 20px;
    }

    .footer-section h4 {
        margin-top: 30px;
    }

    .footer-section {
        flex-direction: column;
    }

    .border-bottom {
        margin-top: 50px;
        border-top: 1px solid gray;
    }


}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .first-section {
        flex-direction: column;
        padding-top: 100px;
        padding-left: 10px;

    }

    .background-color {
        /* width: max-content; */
        height: max-content;
    }

    .flex-1 h1 {
        width: 600px;
        font-size: 70px;
        line-height: 90px;
    }

    .flex-1 p {
        margin-top: 30px;
        font-size: 40px;
        width: 600px;
        margin-bottom: 30px;

    }

    .btn-class {
        padding: 30px 50px;
        font-size: 30px;
    }

    .flex-1 img {
        width: 820px;
        padding-left: 30px;
        margin-top: 40px;
    }

    .second-section h1 {
        width: 100%;
        font-size: 60px;
        text-align: start;
        margin: auto;

    }

    .second-section p {
        font-size: 30px;
        width: 100%;
        text-align: start;
        margin: auto;
    }

    .second-section .image-pic {
        width: 100%;
    }

    .image-pic img {
        padding-left: 0px;
        width: 120%;
    }

    .third-section h1 {
        width: 100%;
        font-size: 50px;
        text-align: start;

    }

    .third-section-sub {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    .right-side-third-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .right-side-third-section h2 {
        font-size: 45px;
    }

    .right-side-third-section p {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
    }

    .third-phase-div {
        margin-top: 60px;
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
    }

    .div-box {
        width: 180px;
        height: 170px;
        padding: 20px;
        margin-bottom: 30px;
    }

    .footer-main-section {
        padding: 40px 20px;
    }

    .footer-section h4 {
        margin-top: 30px;
    }

    .footer-section {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .border-bottom {
        margin-top: 50px;
        border-top: 1px solid gray;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .first-section {
        flex-direction: column;
        padding-top: 100px;
        padding-left: 10px;

    }

    .background-color {
        /* width: max-content; */
        height: max-content;
    }

    .flex-1 h1 {
        width: 600px;
        font-size: 70px;
        line-height: 90px;
    }

    .flex-1 p {
        margin-top: 30px;
        font-size: 40px;
        width: 600px;
        margin-bottom: 30px;

    }

    .btn-class {
        padding: 30px 50px;
        font-size: 30px;
    }

    .flex-1 img {
        width: 820px;
        padding-left: 30px;
        margin-top: 40px;
    }

    .second-section h1 {
        width: 100%;
        font-size: 60px;
        text-align: start;
        margin: auto;

    }

    .second-section p {
        font-size: 30px;
        width: 100%;
        text-align: start;
        margin: auto;
    }

    .second-section .image-pic {
        width: 100%;
    }

    .image-pic img {
        padding-left: 0px;
        width: 120%;
    }

    .third-section h1 {
        width: 100%;
        font-size: 50px;
        text-align: start;

    }

    .third-section-sub {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    .right-side-third-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .right-side-third-section h2 {
        font-size: 45px;
    }

    .right-side-third-section p {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
    }

    .third-phase-div {
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .div-box {
        width: 180px;
        height: 170px;
        padding: 20px;
        margin-bottom: 30px;
    }

    .footer-main-section {
        padding: 40px 20px;
    }

    .footer-section h4 {
        margin-top: 30px;
    }

    .footer-section {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .border-bottom {
        margin-top: 50px;
        border-top: 1px solid gray;
    }
}